/**
 * @name winter-theme
 * @description 
 * @author Parssiffal
 * @authorId 508863359777505290
 * @authorLink https://discord.com/users/817763083523063839
 */


@import url('https://raw.githubusercontent.com/twosleepynights0x1/discord-theme/refs/heads/main/scrcs.css');

/* customize things here */
:root {
	/* font, change to 'gg sans' for default discord font*/
	--font: 'figtree';

	/* top left corner text */
	--corner-text: 'Discord';

	/* thickness of messages divider */
	--divider-thickness: 3px;

	/* color of status indicators and window controls */
	--online-indicator: #00bfff; /* голубой */
	--dnd-indicator: #ff4500; /* оранжевый */
	--idle-indicator: #ffd700; /* золотой */
	--streaming-indicator: #1e90ff; /* светло-голубой */

	/* accent colors */
	--accent-1: hsl(200, 100%, 80%); /* ссылки */
	--accent-2: hsl(200, 100%, 80%); /* элементы непрочитанных/упоминаний */
	--accent-3: hsl(200, 100%, 80%); /* акцентные кнопки */
	--accent-4: hsl(200, 80%, 70%); /* акцентные кнопки при наведении */
	--accent-5: hsl(200, 60%, 60%); /* акцентные кнопки при нажатии */
	--mention: hsla(200, 70%, 71%, 0.1); /* упоминания и сообщения упоминаний */
	--mention-hover: hsla(200, 70%, 71%, 0.05); /* упоминания при наведении */

	/* text colors */
	--text-0: var(--bg-4); /* текст на цветных элементах */
	--text-1: hsl(220, 40%, 95%); /* яркий текст на цветных элементах */
	--text-2: hsl(226, 64%, 88%); /* заголовки и важный текст */
	--text-3: hsl(228, 24%, 72%); /* обычный текст */
	--text-4: hsl(230, 13%, 55%); /* иконки и каналы */
	--text-5: hsl(233, 12%, 39%); /* приглушенные каналы/чаты и временные метки */

	/* background and dark colors */
	--bg-1: hsl(210, 20%, 25%); /* темные кнопки при нажатии */
	--bg-2: hsl(210, 20%, 20%); /* темные кнопки */
	--bg-3: hsl(210, 20%, 15%); /* отступы, второстепенные элементы */
	--bg-4: hsl(210, 20%, 10%); /* основной цвет фона */
	--hover: hsla(210, 18%, 53%, 0.1); /* каналы и кнопки при наведении */
	--active: hsla(210, 15%, 53%, 0.2); /* каналы и кнопки при нажатии или выборе */
	--message-hover: hsla(210, 0%, 0%, 0.1); /* сообщения при наведении */

	/* amount of spacing and padding */
	--spacing: 12px;

	/* animations */
	/* ALL ANIMATIONS CAN BE DISABLED WITH REDUCED MOTION IN DISCORD SETTINGS */
	--list-item-transition: 0.2s ease; /* channels/members/settings hover transition */
	--unread-bar-transition: 0.2s ease; /* unread bar moving into view transition */
	--moon-spin-transition: 0.4s ease; /* moon icon spin */
	--icon-spin-transition: 1s ease; /* round icon button spin (settings, emoji, etc.) */

	/* corner roundness (border-radius) */
	--roundness-xl: 22px; /* roundness of big panel outer corners */
	--roundness-l: 20px; /* popout panels */
	--roundness-m: 16px; /* smaller panels, images, embeds */
	--roundness-s: 12px; /* members, settings inputs */
	--roundness-xs: 10px; /* channels, buttons */
	--roundness-xxs: 8px; /* searchbar, small elements */

	/* direct messages moon icon */
	/* change to block to show, none to hide */
	--discord-icon: none; /* discord icon */
	--moon-icon: none; /* moon icon */
	--moon-icon-url: none; /* custom icon url */
	--moon-icon-size: auto;

	/* filter uncolorable elements to fit theme */
	/* (just set to none, they're too much work to configure) */
	--login-bg-filter: none; /* login background artwork */
	--green-to-accent-3-filter: none; /* add friend page explore icon */
	--blurple-to-accent-3-filter: none; /* add friend page school icon */
	
	/* choose style for window control buttons (minimize-maximize-close) */
	/* block to show, none to hide; choose only one to show!*/
	--windows-nav: none; /* default windows-style buttons */
	--custom-nav: block; /* custom mac-style buttons */
}

/* catppuccin icon */
.childWrapper_f90abb:has(> svg:not(.favoriteIcon_dcc7a4)) {
	background: url('https://i.pinimg.com/736x/7b/2b/e8/7b2be848fa18bdde73bb6210b50a6737.jpg');
	background-color: transparent !important;
	background-size: cover;
}

/* Стили для активности (жирный шрифт для игр) */

/* Стили для элементов активности, включая игры */
.member-activity-1zK4Vj .activity-1zK4Vj {
    font-weight: bold; /* по умолчанию текст не жирный */
}

/* Для того, чтобы выделить название игры жирным шрифтом */
.member-activity-1zK4Vj .activity-1zK4Vj span {
    font-weight: bold; /* делаем более жирным название игры */
}

/* Если нужно сделать только название игры жирным */
.member-activity-1zK4Vj .activity-1zK4Vj span:nth-child(2) {
    font-weight: bold; /* Название игры будет жирным */
}

